* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

header {
    background-color: #FDF0D5;
    color: #003049;
    display: grid;
    grid-template-columns: 60px auto 44px;
    align-items: center;
    padding: 1rem;
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.title-style {
    display: grid;
    grid-template-columns: 1fr;
}

.subtitle {
    font-size: 1rem;
}

#hamButton::before {
    content: "\2630"
}

#hamButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

#hamButton.open::before {
    content: "X";
}

/* Nav styles */
nav {
    background-color: #003049;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: #fff;
    text-decoration: none;
}

ul.menuLinks li.current-page a {
    text-decoration: underline;
    text-decoration-color: #669BBC;
}

ul.menuLinks {
    list-style: none;
}

ul.menuLinks a:hover {
    background-color: #669BBC;
    color: black;
    font-weight: 400;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

footer {
    background-color: #003049;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

footer p {
    margin: .5rem 0;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
}

.social a {
    text-decoration: none;
}

/* Directory page style*/
main.directory {
    margin: 20px;
}

main h1 {
    text-align: center;
    color: #003049;
}

section.directory {
    background-color: rgb(102, 155, 188, 0.1);
    padding: 20px;
    border: 1px solid rgb(102, 155, 188);
    box-shadow: 0 0 3px #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}

.grid .company-name {
    display: none;
}

section img {
    margin-bottom: .5rem;
}

#cards p {
    margin-top: .5rem;
}

#cards a {
    margin-top: .5rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0;
    padding: 0.5rem;
    padding-bottom: 1rem;
    border: none;
    box-shadow: none;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: rgb(102, 155, 188, 0.3);
}

.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #003049;
    text-align: center;
}

.menu button {
    padding: 0.5rem 1rem;
    font-weight: 700;
    cursor: pointer;
}

/* Home Page Styles */

#hero-img {
    width: 100%;
    display: block;
}

.join {
    position: absolute;
    top: 240px;
    right: 30px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #FDF0D5;
    background-color: #003049;
    color: #fff;
    text-decoration: none;
}

.join:hover {
    background-color: #669BBC;
    color: #000;
    font-weight: bold;
}

#hero {
    display: block;
    height: auto;
    margin: 0;
    padding-bottom: 0;
    line-height: normal;
}

.home-title {
    text-align: left;
    padding: 10px 15px;
    margin: 0;
}

.info-card h2 {
    background-color: #003049;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
}

.event, .cweather, .forecast {
    background-color: rgb(102, 155, 188, 0.5);
    color: black;
    padding: 0.5rem;
    line-height: 3;
}

.info-card div #weather-info {
    line-height: 1.5;
}

.info-grid {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    align-items: stretch;
}

.info-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cweather {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#weather-icon {
    grid-column: 1/2;
}

#weather-info {
    grid-column: 2/3;
}

#description {
    text-transform: capitalize;
}

.content {
    flex-grow: 1;
}

#spotlights {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    align-items: stretch;
}

.spotl {
    background-color: rgb(102, 155, 188, 0.1);
    border-radius: 10px;
}

.spotl .company-name {
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    border-bottom: 1px solid rgb(102, 155, 188);
    text-align: center;
    padding: 10px 0;
}

.sl-cont {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.i-cont {
    display: flex;
    align-items: center;
}

.sl-icon {
    grid-column: 1/2;
    width: 100%;
    padding: 10px;
    margin: 0;
    display: block;
}

.sl-info {
    grid-column: 2/3;
    padding: 15px 0;
    line-height: 1.5;
}

/* Join Page Styles */

.jpf {
    /* background-color: #ddd; */
    padding: 10px 15px;
}

.jpf label:not(:has(textarea)){
    display: block;
    padding-top: 1rem;
}

.jpf label:not(:has(input[type="radio"])) {
    color: #003049;
}

.jpf input[type="text"],
.jpf input[type="email"],
.jpf input[type="tel"] {
    display: block;
    border: solid 1px #999;
    padding: .5rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin-top: .25rem;
}

.jpf input[type="radio"] {
    margin-right: 6px;
}

textarea {
    height: 100px;
    width: 100%;
    max-width: 400px;
    padding: .5rem;
    border: solid 1px #999;
    resize: vertical;
    /* transition: border-color 0.3s; */
    margin-top: .25rem;
    appearance: none;
}

.jpf input[type="submit"] {
    display: block;
    border: solid 1px #999;
    background-color: #003049;
    color: #fff;
    padding: .6rem;
    width: 100%;
    max-width: 400px;
    margin: 2rem 0 .5rem 0;
    box-shadow: 1px 1px 4px #999;
    font-weight: bolder;
}

.join-page {
    display: grid;
    grid-template-columns: 1fr;
}

.join-page h2 {
    margin-left: 10px;
    padding: 10px;
}

.form div {
    padding-top: 1rem;
    color: #003049;
}

.mship-level {
    padding: 10px 15px;
}

.level {
    background-color: rgb(102, 155, 188, 0.5);
    color: black;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.level p {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}

.level button {
    padding: .5rem 1rem;
    background-color: #003049;
    border: solid 1px #999;
    color: #fff;
    cursor: pointer;
}

/* Modal styles */

dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    margin: auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    line-height: 1.5;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    background-color: #003049;
    border: 1px solid rgb(0 0 0 / 10%);
    cursor: pointer;
}

#mydialog div {
    display: grid;
    grid-template-columns: auto 44px;
}

#mydialog h2 {
    background-color: #003049;
    color: #fff;
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    padding: .5rem;
    border-top-left-radius: .25rem;
}

#mydialog>* {
    margin-bottom: 1rem;
}

#results {
    line-height: 2;
    text-align: center;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.level {
    opacity: 0;
    transform: translateY(50px);
    animation: appears 2s ease-out forwards;
}

.mship-level .level:nth-of-type(1) {
    animation-delay: 0.2s;
}

.mship-level .level:nth-of-type(2) {
    animation-delay: 0.4s;
}

.mship-level .level:nth-of-type(3) {
    animation-delay: 0.6s;
}

.mship-level .level:nth-of-type(4) {
    animation-delay: 0.8s;
}

@keyframes appears {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Discover Page Styles */
.discover-page {
    margin: 10px;
}

.cards div {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: rgb(102, 155, 188, 0.1);
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "name"
    "picture"
    "address"
    "description"
    "button";
}

.cards div h2 {
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    margin: 1rem 10px;
    text-align: center;
    color: #003049;
    grid-area: name;
}

.cards div figure img {
    width: 100%;
    box-shadow: 0 0 .5rem #999;
}

.cards div figure {
    grid-area: picture;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.cards div address {
    color: #003049;
    margin: 1rem 10px;
    grid-area: address;
}

.cards div p {
    color: #003049;
    margin: 1rem 10px;
    grid-area: description;
}

.cards div button {
    padding: .5rem 1rem;
    background-color: #003049;
    border: solid 1px #999;
    color: #fff;
    cursor: pointer;
    margin: 1rem auto;
    grid-area: button;
}