@media only screen and (min-width: 38rem) {
    header {
        padding: 1rem 4.5rem;
    }

    #hamButton {
        display: none;
    }

    nav {
        display: flex;
        background-color: #000;
        padding-right: 4.5rem;
    }

    ul.menuLinks li a {
        color: #fff;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-box {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 4rem;
    }

    /* Home Page Styles */
    .content .group-title {
        text-align: left;
        margin: 20px;
    }

    .group {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .content-btn {
        justify-self: end;
        align-self: center;
        margin-right: 2rem;
    }

    .card-info {
        grid-column: 2/3;
        padding: 15px 0;
        line-height: 2;
    }

    .card-info h2 {
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    #sl-planets, #sl-events {
        margin-top: 0;
        display: grid;
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 1rem;
        align-items: stretch;
    }

    .filters button {
        transition: transform 0.3s ease;
        transform: scale(1);
    }

    .filters button:hover {
        transform: scale(1.1);
    }
}