* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-color: #0D0D1A;
    color: #fff;
}

header {
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: 60px auto 44px;
    padding: 1rem .5rem;
}

#hamButton::before {
    content: "\2630"
}

#hamButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

#hamButton.open::before {
    content: "X";
}

/* Nav styles */
nav {
    background-color: #0D0D1A;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: #fff;
    text-decoration: none;
}

ul.menuLinks li.current-page a {
    color: #F8C46D;
}

ul.menuLinks {
    list-style: none;
}

ul.menuLinks a:hover {
    background-color: #2C4BAB;
    color: #fff;
    border-radius: 5px;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color:#F8C46D;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

footer p {
    margin: .5rem 0;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
}

.social a {
    text-decoration: none;
}

/* Home Page Styles */
#hero-img {
    width: 100%;
    display: block;
}

#hero {
    display: block;
    height: auto;
    margin: 0;
    padding-bottom: 0;
    line-height: normal;
}

.home-title {
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 10px 15px;
    margin: 0;
}

.content {
    margin: 10px;
    padding: 10px;
}

.content .group-title {
    text-align: center;
    padding: 10px;
    color: #fff;
}

.content h2 {
    color:#F8C46D;
}

.content-btn {
    display: block; 
    width: 130px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color:#2C4BAB;
    color: #fff;
    text-decoration: none;
    align-self: start;
}

.content-btn:hover {
    color: #F8C46D;
}

#sl-planets, #sl-events {
    margin-top: .5rem;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    align-items: stretch;
}

.card {
    background-color: #192548;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-cont {
    display: flex;
    align-items: center;
}

.card-img {
    grid-column: 1/2;
    width: 90%;
    padding: 10px;
    margin: 0;
    display: block;
}

.card-info {
    grid-column: 2/3;
    padding: 15px 0;
    line-height: 1.5;
    padding-right: .5rem;
}

.group {
    display: grid;
    grid-template-columns: 1fr;
}